@model SampleMembership.Models.aspnet_Membership

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>aspnet_Membership</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordFormat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordFormat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordSalt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordSalt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoweredEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoweredEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLockedOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLockedOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLoginDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastPasswordChangedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastPasswordChangedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLockoutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLockoutDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailedPasswordAttemptCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailedPasswordAttemptCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailedPasswordAttemptWindowStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailedPasswordAttemptWindowStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailedPasswordAnswerAttemptCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailedPasswordAnswerAttemptCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FailedPasswordAnswerAttemptWindowStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FailedPasswordAnswerAttemptWindowStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aspnet_Applications.ApplicationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aspnet_Applications.ApplicationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aspnet_Applications1.ApplicationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aspnet_Applications1.ApplicationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aspnet_Users.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aspnet_Users.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aspnet_Users1.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aspnet_Users1.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
