@model IEnumerable<SampleMembership.Models.aspnet_Membership>

@{
    ViewBag.Title = "User Manager";
}

<h2>User Manager</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.aspnet_Users.UserName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.IsLockedOut)
		</th>

		<th>
			@Html.DisplayNameFor(model => model.LastLoginDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.assignedRoleName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Comment)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.aspnet_Users.UserName)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.IsLockedOut)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.LastLoginDate)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.assignedRoleName)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Comment)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id = item.UserId })
		</td>
	</tr>
}

</table>
