@model IEnumerable<SampleMembership.Models.Answer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    
</p>
    @using (Html.BeginForm())
    {
<p>
    Search Month: @Html.TextBox("month")
    Search Year: @Html.TextBox("search")
    
    <input type="submit" value="Filter" />
</p>
}
    
    <table class="table">
        <tr>
            <th>
                Answer
            </th>
            <th>
                @Html.ActionLink("Create By", "Index", new { sortOrder = ViewBag.CreateSortParm })
            </th>
            <th>
                @Html.ActionLink("Month", "Index", new { sortOrder = ViewBag.MonthSortParm })
            </th>
            <th>
                @Html.ActionLink("Year", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                Quantity
            </th>
            <th>
                
                @Html.ActionLink("Question", "Index", new { sortOrder = ViewBag.QuestionSortParm })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AnsText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.aspnet_Users.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Q[0].QText)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AnswerID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AnswerID })
                </td>
            </tr>
        }

    </table>
